{% extends 'layout.html' %}
{% block content %}
    
    <div class="container">
        <div class="concontainer">
            <div style="text-align:center">
                <h2>Contact Me</h2>
                <p>Go ahead, I'm all ears:</p>
            </div>
            <div class="row">
                <div class="column">
                    <img src="images/contact.jpg" style="width:100%">
                </div>
                <div class="column">
                    
                </div>
            </div>
        </div>
    </div>
 
    {% endblock %}

</body>  
</html>
