{% extends 'layout.html' %}
{% block content %}

    <section id="showcase">
        <div class="container">
            <h1>A junior computer Engineering student who is passionate about software engineering and web development</h1>
        </div>
    </section>
    <div class="container">
        <aside id="sidebar">
            <img class="me" src="images/john.jpg" alt="John's picture">
        </aside>
        <section id="main">
            <p>During my college years, I learned many CS skills from lectures as I used to study out of passion and love for the field, I gained online skills as well such as web development and android development, I made my first game from java that used GUI, and I wrote my first machine learning code, and I'm eager to learn more.<br><br>From the student activity, I was enrolled in, I learned a lot about project management, BMC, and presentation skills as I became the head of the presentation committee afterward, then I was elected as the president of Enactus Modern Academy due to my hard work and ability to make members feel home, work hard, and see the outcome of their efforts, and I'm currently the Lead at DSC Modern Academy in Maadi. I'm passionate about full-stack web development and I've made many projects with my own hands. I'm also passionate about problem-solving and designing/implementing programs.</p>
        </section>
    </div>
    {% endblock %}