{% extends 'layout.html' %}
{% block content %}

    <div class="CardContainer">
        <a href="https://drive.google.com/open?id=1Wq1hQiH6D6PXZqJOn9wxO0i4kc_AR5zx" target="_blank">
            <div class="card">
                <img src="images/driveLogo.png" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b><a href="https://drive.google.com/open?id=1Wq1hQiH6D6PXZqJOn9wxO0i4kc_AR5zx" target="_blank">Drive Portfolio</a></b></h4>
                    <p>My personal google drive Portfolio that includes various projects using various programming languages and tools</p>
                </div>
            </div>
        </a>
    </div>
{% endblock %}
