mkdocs==1.6.1
mkdocs-material==9.7.6
pillow==12.1.1
cairosvg==2.9.0
mkdocs-rss-plugin==1.17.9
mkdocs-macros-plugin==1.5.0
mkdocs-minify-plugin==0.8.0
mkdocs-git-revision-date-localized-plugin==1.5.1
mkdocs-redirects==1.2.2
python-dotenv==1.2.2
