<section class="comments-section" aria-label="Comments">
  <h2 id="__comments">Comments</h2>
  <script
    src="https://giscus.app/client.js"
    data-repo="john0isaac/john0isaac.github.io"
    data-repo-id="MDEwOlJlcG9zaXRvcnkzMjY0NTM5MDc="
    data-category="Announcements"
    data-category-id="DIC_kwDOE3VKk84Cshto"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="0"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async
  ></script>
</section>
